body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, article, a, p, ul, li, ol {
  font-family: 'Poppins', sans-serif;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, article::selection, a::selection, p::selection, ul::selection, li::selection, ol::selection {
   background-color: #009c66;
}

*{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
